/PrimeiroProjeto/nbproject/private/
/PrimeiroProjeto/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX-Preloader/nbproject/private/
/OlaMundoJavaFX-Preloader/build/
/OlaMundoJavaFX-Preloader/dist/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadorTernario/nbproject/private/
/ComparacaoString/nbproject/private/
/OperadoresLogicos/nbproject/private/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
