/PrimeiroProjeto/nbproject/private/
/PrimeiroProjeto/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX-Preloader/nbproject/private/
/OlaMundoJavaFX-Preloader/build/
/OlaMundoJavaFX-Preloader/dist/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
